# Created by http://gitignore.io

### Linux ###
.*
!.gitignore
!.git*
*~


### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### NetBeans ###
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
build.xml
build.properties


### SASS ###
### SASS Ignores - "Sassy CSS" http://sass-lang.com/
*.sass-cache

### Compass ###
.sass-cache

